Lab2/Exercise_5.json
[
    {
        "id": "7283866ed8776046",
        "type": "tab",
        "label": "Exercise_5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a8d453f0f96685ee",
        "type": "inject",
        "z": "7283866ed8776046",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "b96c5d8f01dcdb00",
                "d8a7077fa88d147a",
                "49b7a46fa9a84415",
                "8b92ef8ee0af8fe8"
            ]
        ]
    },
    {
        "id": "b96c5d8f01dcdb00",
        "type": "moment",
        "z": "7283866ed8776046",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD/MM/YY HH:mm:ss",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 520,
        "y": 140,
        "wires": [
            [
                "743607919097da7a",
                "6fcaef8f1edbec94"
            ]
        ]
    },
    {
        "id": "d8a7077fa88d147a",
        "type": "moment",
        "z": "7283866ed8776046",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "dddd, MMMM Do YYYY, h:mm:ss a",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 520,
        "y": 260,
        "wires": [
            [
                "7848875738c50fda",
                "69b7d47a9fdba6d0"
            ]
        ]
    },
    {
        "id": "49b7a46fa9a84415",
        "type": "debug",
        "z": "7283866ed8776046",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 220,
        "wires": []
    },
    {
        "id": "8b92ef8ee0af8fe8",
        "type": "ui-text",
        "z": "7283866ed8776046",
        "group": "58aea01262677429",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "EPOCH",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "743607919097da7a",
        "type": "rbe",
        "z": "7283866ed8776046",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 730,
        "y": 140,
        "wires": [
            [
                "4deb6bb7d5aa8403"
            ]
        ]
    },
    {
        "id": "4deb6bb7d5aa8403",
        "type": "ui-text",
        "z": "7283866ed8776046",
        "group": "58aea01262677429",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Date Time Format 1",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 940,
        "y": 140,
        "wires": []
    },
    {
        "id": "6fcaef8f1edbec94",
        "type": "debug",
        "z": "7283866ed8776046",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "7848875738c50fda",
        "type": "debug",
        "z": "7283866ed8776046",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "69b7d47a9fdba6d0",
        "type": "ui-text",
        "z": "7283866ed8776046",
        "group": "58aea01262677429",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Date Time Format 2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "00c1f0e4f639583e",
        "type": "inject",
        "z": "7283866ed8776046",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "topic": "",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "5a424e415e574d01"
            ]
        ]
    },
    {
        "id": "5a424e415e574d01",
        "type": "http request",
        "z": "7283866ed8776046",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Konstanz,de&units=metric&appid=3ddc016b54ff55c596c6b7f83fe7f576",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 500,
        "wires": [
            [
                "8d730735e644b794",
                "9b6f582ccda8949e"
            ]
        ]
    },
    {
        "id": "8d730735e644b794",
        "type": "debug",
        "z": "7283866ed8776046",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "103ce9c829f71c13",
        "type": "debug",
        "z": "7283866ed8776046",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 500,
        "wires": []
    },
    {
        "id": "8a268486060cefcc",
        "type": "ui-gauge",
        "z": "7283866ed8776046",
        "name": "",
        "group": "58aea01262677429",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Current Temperature",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-20",
                "color": "#1a5fb4"
            },
            {
                "from": "-10",
                "color": "#3584e4"
            },
            {
                "from": "-5",
                "color": "#99c1f1"
            },
            {
                "from": "0",
                "color": "#8ff0a4"
            },
            {
                "from": "5",
                "color": "#57e389"
            },
            {
                "from": "10",
                "color": "#33d17a"
            },
            {
                "from": "15",
                "color": "#ffbe6f"
            },
            {
                "from": "20",
                "color": "#ffa348"
            },
            {
                "from": "25",
                "color": "#ff7800"
            },
            {
                "from": "30",
                "color": "#f66151"
            },
            {
                "from": "40",
                "color": "#e01b24"
            }
        ],
        "min": "-20",
        "max": "40",
        "sizeThickness": "20",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1120,
        "y": 380,
        "wires": []
    },
    {
        "id": "813e08bb8f153fb6",
        "type": "debug",
        "z": "7283866ed8776046",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 420,
        "wires": []
    },
    {
        "id": "9b6f582ccda8949e",
        "type": "json",
        "z": "7283866ed8776046",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 500,
        "wires": [
            [
                "103ce9c829f71c13",
                "a2146e4b8e3d524d",
                "68d61c0bd0409be6",
                "c5b7851a22b60dcd",
                "cc19ad30c2b96583"
            ]
        ]
    },
    {
        "id": "a2146e4b8e3d524d",
        "type": "change",
        "z": "7283866ed8776046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 380,
        "wires": [
            [
                "813e08bb8f153fb6",
                "8a268486060cefcc"
            ]
        ]
    },
    {
        "id": "5dab571adc3074fd",
        "type": "ui-text",
        "z": "7283866ed8776046",
        "group": "58aea01262677429",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current weather:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1110,
        "y": 460,
        "wires": []
    },
    {
        "id": "a133b1976b9a2a64",
        "type": "debug",
        "z": "7283866ed8776046",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 500,
        "wires": []
    },
    {
        "id": "68d61c0bd0409be6",
        "type": "function",
        "z": "7283866ed8776046",
        "name": "function 2",
        "func": "const name = msg.payload.name;\nconst lat = msg.payload.coord.lat;\nconst lon = msg.payload.coord.lon;\nconst weather_main = msg.payload.weather[0].main;\nconst weather_light = msg.payload.weather[0].description;\n\nmsg.payload = `The weather in ${name} at coordinates: ${lat}, ${lon} is ${weather_main} (${weather_light}).`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 460,
        "wires": [
            [
                "5dab571adc3074fd",
                "a133b1976b9a2a64"
            ]
        ]
    },
    {
        "id": "c5b7851a22b60dcd",
        "type": "change",
        "z": "7283866ed8776046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 540,
        "wires": [
            [
                "abde6fdfb0ae9839",
                "1b084213a51b8529"
            ]
        ]
    },
    {
        "id": "cc19ad30c2b96583",
        "type": "change",
        "z": "7283866ed8776046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 620,
        "wires": [
            [
                "2a4dbecd60730de5",
                "fe4f8a3eaa5619ae"
            ]
        ]
    },
    {
        "id": "abde6fdfb0ae9839",
        "type": "ui-chart",
        "z": "7283866ed8776046",
        "group": "58aea01262677429",
        "name": "",
        "label": "Humidity",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "HH:mm",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "line",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "10",
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 1080,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "2a4dbecd60730de5",
        "type": "ui-chart",
        "z": "7283866ed8776046",
        "group": "58aea01262677429",
        "name": "",
        "label": "Temperature",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "HH:mm",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "line",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "10",
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 1090,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "1b084213a51b8529",
        "type": "debug",
        "z": "7283866ed8776046",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 580,
        "wires": []
    },
    {
        "id": "fe4f8a3eaa5619ae",
        "type": "debug",
        "z": "7283866ed8776046",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 660,
        "wires": []
    },
    {
        "id": "58aea01262677429",
        "type": "ui-group",
        "name": "Flow_exercise_5",
        "page": "ad79b79f97fb5ca7",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ad79b79f97fb5ca7",
        "type": "ui-page",
        "name": "Flow Ex5",
        "ui": "f562e97331fabd34",
        "path": "/ex5",
        "icon": "home",
        "layout": "grid",
        "theme": "8d15af043631d29a",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "f562e97331fabd34",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "8d15af043631d29a",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]