Lab3/lab3_ex3.json
[
    {
        "id": "5c90acf5fa39e0aa",
        "type": "tab",
        "label": "lab3_ex3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f55bb7217ba8722a",
        "type": "mqtt in",
        "z": "5c90acf5fa39e0aa",
        "name": "",
        "topic": "Temperature",
        "qos": "2",
        "datatype": "json",
        "broker": "6dfb3c3c6ef1af1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "8445eba1a0b0f8cc"
            ]
        ]
    },
    {
        "id": "57a7c620be2f0aec",
        "type": "serial in",
        "z": "5c90acf5fa39e0aa",
        "name": "",
        "serial": "47217533c577d375",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "a4a539c1c86e2882"
            ]
        ]
    },
    {
        "id": "8445eba1a0b0f8cc",
        "type": "debug",
        "z": "5c90acf5fa39e0aa",
        "name": "recieved-message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "a4a539c1c86e2882",
        "type": "mqtt out",
        "z": "5c90acf5fa39e0aa",
        "name": "",
        "topic": "Temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6dfb3c3c6ef1af1c",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "6dfb3c3c6ef1af1c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "7de35e5e2f16448aac8f9c98a8983524.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "17a0f30cc6be6db5",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "47217533c577d375",
        "type": "serial-port",
        "name": "Serial_In",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "17a0f30cc6be6db5",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "7de35e5e2f16448aac8f9c98a8983524",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]