Lab3/lab3_ex2.json
[
    {
        "id": "a15eae2fec1ddb24",
        "type": "tab",
        "label": "lab3_ex2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1b7d69f02c00b73f",
        "type": "serial in",
        "z": "a15eae2fec1ddb24",
        "name": "Temperature Sensor",
        "serial": "47217533c577d375",
        "x": 1030,
        "y": 100,
        "wires": [
            [
                "e5e8868a130aba30",
                "a55979fcc7b34dda",
                "974977143db8b9f4"
            ]
        ]
    },
    {
        "id": "e5e8868a130aba30",
        "type": "debug",
        "z": "a15eae2fec1ddb24",
        "name": "Serial-Input String",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 60,
        "wires": []
    },
    {
        "id": "a55979fcc7b34dda",
        "type": "ui_gauge",
        "z": "a15eae2fec1ddb24",
        "name": "",
        "group": "7378d8829b2dcfee",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#1c71d8",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1230,
        "y": 100,
        "wires": []
    },
    {
        "id": "974977143db8b9f4",
        "type": "ui_chart",
        "z": "a15eae2fec1ddb24",
        "name": "",
        "group": "7378d8829b2dcfee",
        "order": 2,
        "width": "6",
        "height": "3",
        "label": "Temperature Course",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1260,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "47217533c577d375",
        "type": "serial-port",
        "name": "Serial_In",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "7378d8829b2dcfee",
        "type": "ui_group",
        "name": "Real Time Temperature",
        "tab": "8fd2c95aa5c479b3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fd2c95aa5c479b3",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]