Lab3/exercise1_synchronize/lab3_ex1.json
[
    {
        "id": "2707ed6453961df7",
        "type": "tab",
        "label": "lab3_ex1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "307035c20177be07",
        "type": "ui_switch",
        "z": "2707ed6453961df7",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "404b654bd34371a7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "714c11ca9e2675e8"
            ]
        ]
    },
    {
        "id": "714c11ca9e2675e8",
        "type": "serial out",
        "z": "2707ed6453961df7",
        "name": "Serial_Out",
        "serial": "62f9f371d6641935",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "6b8094e823f13a53",
        "type": "inject",
        "z": "2707ed6453961df7",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "714c11ca9e2675e8",
                "3f8cc049cfccdd07"
            ]
        ]
    },
    {
        "id": "842f33f10d75872c",
        "type": "inject",
        "z": "2707ed6453961df7",
        "name": "0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "714c11ca9e2675e8",
                "3f8cc049cfccdd07"
            ]
        ]
    },
    {
        "id": "3f8cc049cfccdd07",
        "type": "debug",
        "z": "2707ed6453961df7",
        "name": "SEND",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 220,
        "wires": []
    },
    {
        "id": "e84bea14549006d6",
        "type": "serial in",
        "z": "2707ed6453961df7",
        "name": "Serial_In",
        "serial": "47217533c577d375",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "735a049ac9d68464",
                "91e34a4714bb7250"
            ]
        ]
    },
    {
        "id": "735a049ac9d68464",
        "type": "ui_led",
        "z": "2707ed6453961df7",
        "order": 1,
        "group": "404b654bd34371a7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 350,
        "y": 280,
        "wires": []
    },
    {
        "id": "91e34a4714bb7250",
        "type": "debug",
        "z": "2707ed6453961df7",
        "name": "IN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 320,
        "wires": []
    },
    {
        "id": "404b654bd34371a7",
        "type": "ui_group",
        "name": "Light Control",
        "tab": "fb02e4c99012a224",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62f9f371d6641935",
        "type": "serial-port",
        "name": "Serial_Out",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "47217533c577d375",
        "type": "serial-port",
        "name": "Serial_In",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "fb02e4c99012a224",
        "type": "ui_tab",
        "name": "LED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]